*.log
build-docker-images/packages_env.txt
build-docker-images/packages_url.txt
single-node/wazuh-certificates
single-node/wazuh-certificates/*
single-node/wazuh-certificates-tool.log
single-node/config.yml
single-node/wazuh-certs-tool.sh
multi-node/wazuh-certificates
multi-node/wazuh-certificates/*
multi-node/wazuh-certificates-tool.log
multi-node/config.yml
multi-node/wazuh-certs-tool.sh