nodes:
  # Wazuh indexer nodes
  indexer:
    - name: wazuh.indexer
      ip: wazuh.indexer

  # Wazuh server nodes
  # If there is more than one Wazuh server
  # node, each one must have a node_type
  server:
    - name: wazuh.manager
      ip: wazuh.manager

  # Wazuh dashboard nodes
  dashboard:
    - name: wazuh.dashboard
      ip: wazuh.dashboard
